@model List<libros>

@{
    ViewBag.Title = "Comentarios por Libros";
    Layout = "~/Views/Shared/LayoutPersonalizado.cshtml";
}

<link rel="stylesheet" href="~/css/style.css" />

<div class="container">
    <ul class="progressbar">
        <li>AUTORES</li>
        <li class="active">LIBROS</li>
        <li>COMENTARIOS EXISTENTES</li>
        <li>NUEVO COMENTARIO</li>
    </ul>

    <div class="card p-3 d-flex flex-row">
        <h3 class="text-primary">Autor: </h3>
        <h3 class="ms-5">@ViewBag.Autor.autor</h3>
    </div>

    <div class="card p-3">
        <h3 class="text-primary">Seleccione el libro del autor</h3>
        <table class="">
            <tbody>
                @foreach (var libro in Model)
                {
                    <tr class="d-flex justify-content-between my-3 ms-4">
                        <td style="font-weight: bold">@libro.nombre</td>
                        <td style="font-weight: bold">
                            @Html.ActionLink("Seleccionar", "SeleccionarLibro", "Libros", new { id = libro.id }, new { @class = "btn btn-success" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
